<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 	xmlns:p="http://primefaces.org/ui">
	
	<h:body>
	
	<h:form id="login">
 			<h:inputText required="true" requiredMessage="Please type a valid mail address"
				value="#{AuthBean.login}"
 				placeholder="Email" />
				
			<br/>
			 
 			<h:inputSecret value="#{AuthBean.password}"	placeholder="Password" />
 		 	
 		 	<br/>
 	
 				<h:commandButton
					action="#{AuthBean.doLogin()}"	value="Login"/>
 	 </h:form>
 	 
 	 <a href="Register.jsf">Register</a>
	
	</h:body>
	</html>