<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" 	xmlns:p="http://primefaces.org/ui" xmlns:pt="http://xmlns.jcp.org/jsf/passthrought">
	
	<h:body>
	
	<h:form id="register">
	
		First name:
			<h:inputText value="#{AuthBean.supplierToAdd.firstName}"/>
			
			<br/>
			
			Last name:
			<h:inputText value="#{AuthBean.supplierToAdd.lastName}"/>
			
			<br/>
			
			Birthdate:
			<p:inputText id="Date" value="#{AuthBean.supplierToAdd.birthDate}"
				             pt:type="date" required="true" pt:placeholder="0000-00-00 00:00:0.0"
				             requiredMessage="Birthdate is required!">
					     <f:convertDateTime pattern="yyyy-MM-dd"/>
		           </p:inputText>	
			
			Mail:
 			<h:inputText required="true" requiredMessage="Please type a valid mail address"
				value="#{AuthBean.supplierToAdd.mail}"
 				placeholder="Email" />
 				
 				<br/>
 				Password:
 				<h:inputSecret value="#{AuthBean.supplierToAdd.password}"	placeholder="Password" />
 				
 				<br/>
 				Factory:
 				<h:inputText value="#{AuthBean.supplierToAdd.factory}"/>
 				
 				<br/>
 				Factory address:
 				<h:inputText value="#{AuthBean.supplierToAdd.factoryAdress}"/>
				
			<br/>
			 	 	
 		 	<br/>
 	
 				<h:commandButton
					action="#{AuthBean.doRegister()}"	value="Register"/>
 	 </h:form>
	
	</h:body>
	</html>